@font-face {
    font-family: 'Creepster';
    src: url(./fonts/Creepster/Creepster-Regular.ttf);
}

@font-face {
    font-family: 'Metal Mania';
    src: url(./fonts/MetalMania/MetalMania-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    display: grid;
    grid-template:
    "titulo titulo titulo" 15%
    "link-instrucoes link-historia link-jogo" 10%
    "controle controle controle" 15%
    "jogo jogo jogo" auto
    "link-faculdade link-linkedin link-github" 5%
    / 33% auto 33%;
    font-family: 'Metal Mania';
    color: white;
    background-image: linear-gradient(to right bottom, #000000, #000000, #000000, #000000, #000000, #060002, #0c0004, #100007, #16000f, #180018, #160020, #0d002a);
    height: 100vh;
}

.titulo{
    grid-area: titulo;
    text-align: center;
    align-self: center;
    font-family: 'Creepster';
    font-size: 4rem;
    color: #FF9A00;
    margin: 5px 0;
}

.link-instrucoes{
    grid-area: link-instrucoes;    
}

.link-historia{
    grid-area: link-historia;
}

.link-jogo{
    grid-area: link-jogo;
}

.links-menu{
    text-align: center;
    align-self: center;
    text-decoration: none;    
    color: #85E21F;
    font-size: 2rem;
    margin: 0 0 5px 0;
}

.links-menu:hover{
    text-decoration: underline;
}

.controle{
    grid-area: controle;
    text-align: center;
    align-self: center;
}

.cronometro{
    grid-area: controle;
    text-align: center;
    color: #85E21F;
    margin-bottom: 5px;
    font-size: 2rem;
}

#minutos{
    grid-area: minutos;
}

.separador{
    grid-area: separador;
}

#segundos{
    grid-area: segundos;
}

#milissegundos{
    grid-area: milissegundos;
}

.tempo{
    min-width: 85px;
}

.botao{
    text-align: center;
    width: 150px;
    padding: 5px 0;
    font-size: 1.5rem;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Creepster';
    background-color: #FF9A00;
    color: #881EE4;
    border: none;
    margin-bottom: 15px;
}

.botao:hover{
    transform: scale(1.02);
}

.botao-oculto{
    display: none;
}

.link-botao-restart{
    text-decoration: none;
    color: #881EE4;
    font-size: 1.5rem;
}

div img{
    height: 92.5px;
    width: 70.5px;
    border-radius: 20px;
}

.cardInicial, .cardFinal{
    height: 92.5px;
    width: 70.5px;
}

.jogo-oculto{
    display: none;
}

.jogo{
    grid-area: jogo;
    text-align: center;
    align-self: center;
    height: 297.5px;
    width: 392.5px;
    background-color: #881EE4;
    display: grid;
    grid-template: 
    "personagem1 personagem2 personagem3 personagem4 personagem5" 92.5px
    "personagem6 personagem7 personagem8 personagem9 personagem10" 92.5px
    "personagem11 personagem12 personagem13 personagem14 personagem15" 92.5px
    / 70.5px 70.5px 70.5px 70.5px 70.5px;
    gap: 10px;
    padding: 10px 10px;
    margin: 0 auto 5px auto;
    border-radius: 20px;
}

.jogo-block{
    grid-area: jogo;
    height: 297.5px;
    width: 392.5px;
    background-color: #881EE4;
    padding: 10px 10px;
    margin: 0 auto 5px auto;
    border-radius: 20px;
    align-self: center;
}

.jogo-block p{
    align-self: center;
}

.estilo-resultado{
    font-family: 'Creepster';
    font-size: 2.5rem;
    color: #FF9A00;
    margin: 0 0 20px 0;
    text-align: center; 
}

.personagem1{
    grid-area: personagem1;
}

.personagem2{
    grid-area: personagem2;
}

.personagem3{
    grid-area: personagem3;
}

.personagem4{
    grid-area: personagem4;
}

.personagem5{
    grid-area: personagem5;
}

.personagem6{
    grid-area: personagem6;
}

.personagem7{
    grid-area: personagem7;
}

.personagem8{
    grid-area: personagem8;
}

.personagem9{
    grid-area: personagem9;
}

.personagem10{
    grid-area: personagem10;
}

.personagem11{
    grid-area: personagem11;
}

.personagem12{
    grid-area: personagem12;
}

.personagem13{
    grid-area: personagem13;
}

.personagem14{
    grid-area: personagem14;
}

.personagem15{
    grid-area: personagem15;
}

.card-oculto{
    display: none;
}

.link-faculdade{
    grid-area: link-faculdade;
}

.link-linkedin{
    grid-area: link-linkedin;
}

.link-github{
    grid-area: link-github;
}

.link-instagram{
    grid-area: link-instagram;
}

.links-footer{
    background-color: #FF9A00;
    color: #881EE4;
    text-align: center;
    align-self: center;
    text-decoration: none;
    font-size: 1.2rem;
    height: 100%;
}

.links-footer:hover{
    text-decoration: underline;
}